<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    
  </ol>

  <div class="carousel-inner">

     <div class="carousel-item active">
      <img src="/images/onboarding0.png" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/images/onboarding1.png" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/images/onboarding2.png" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item">
      <img src="/images/onboarding3.png" class="d-block w-100" alt="...">
    </div>

  </div>


</div>