<div class="center inner-container">

  <img src="" alt="logo">

  <div class="social">
    <i class="fab fa-facebook-f center"></i>
    <p class="center">Ingresar con Facebook</p>
  </div>

<a href="/auth/google">

  <div class="social">
    <i class="fab fa-google center red" center></i>
    <p class="center">Ingresar con Google</p>
  </div>
</a>


  <form id="login" class="center" action="/login" method="POST">

    <div>
      <input type="email" name="email" placeholder="Correo electrónico" required>
      <input type="password" name="password" placeholder="Contraseña" required>
    </div>

    <div class="center">
      <input type="checkbox" class="small space">
      <p>Recuérdame</p>
    </div>

    <button>Ingresar</button>
  </form>
</div>