<div>
  <section>
    <img src="" alt="">
    <h3> Victor Gonzalez </h3>
    <button>
      logout
    </button>
  </section>
  <section>
    
  </section>
</div>

<div class="cards"> 

<form action="/preferences" method="POST">
  <div>
    <img src="/images/iconos/food.png" alt="restaurant icon">
    <p>Restaurantes</p>
    <input type="checkbox" class="small space">
</div>
<div>

</div>

</form>
</div>