* {
  padding: 0px;
  margin: 0px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
}

.inner-container {
  flex-direction: column;
  width: 90vw;
  height: 90vh;
}

.social {
  display: flex;
  margin: 10px 0;

  i {
    width: 30px;
    height: 30px;
    background-color: #3486BF;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px 0 0 5px;
    padding: 3px;
  }

  p {
    width: 200px;
    height: 30px;
    background-color: whitesmoke;
    font-size: 1.3rem;
    border-radius: 0 5px 5px 0;
    padding: 3px;
  }

  .red {
    background-color: #118EE5;
  }

}

#login {
  width: 230px;
  height: 175px;
  background-color: whitesmoke;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin-top: 30px;

  input {
    width: 95%;
    border: 1px solid lightgrey;
    height: 30px;
    padding: 3px;
    font-size: 1.3rem;
  }

  button {
    width: 99%;
    height: 40px;
    padding: 10px;
    font-size: 1.3rem;
    color: white;
    background-color: #3486BF;
    border-radius: 5px;
  }

  .small {
    width: 15px;
    height: 15px;
  }

  .space {
    margin-right: 5px;
  }

}

.black {
  color: black;
}

.carousel-indicators {

  position: absolute;
  top: 125%;

  li {
    background-color: whitesmoke;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid grey;
  }
  .active {
    background-color: #3486BF;
  }
}

#index-container {
  flex-direction: column;
  justify-content: start;
  padding-top: 25%;
  
  .button {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #3486BF;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px;
  }
}

#login-logo {
  width:150px;
  height: auto;
  margin-bottom: 30px;
}

.card-preferences{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#73b7e7;
  height: 50px;
  width: 160px;
  margin: 20px 10px 20px 0;
  padding: 5px;
  img{
    width: 35px;
    height: auto;
  }
  p{
    font-size: 1.1rem;
  }
  
  
}

#cards{
  flex-wrap: wrap;
  button{
    width: 160px;
    height: 40px;
    background-color: #3486BF;
  }
}

#preferidos{
  background-color: #3486BF;
  text-align: center;
  width: 100vw;
  padding: 10px;
  
}
.column{
  flex-direction: column;
}

